/*
 Orange: #f36557
 Green:  #6bb327
*/


html, body {
    font-family: 'Open Sans', sans-serif;
}

body{
    color: #4b494f;
}

h5{
    font-weight: bold;
}

.navbar, .navbar-default{
    background-image: none;
    background-color: #170402;
    border: none;
    margin-bottom: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #f36557;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Lilita One', sans-serif;

    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

.navbar-default .navbar-brand:hover{
    color: #f36557;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    border-bottom: 3px solid transparent;

    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active{
    color: white;
    border-bottom-color: #f36557;
}

.centered {
    text-align: center;
}

#header{
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url('https://www.dropbox.com/s/4tfqp4w5dsmdtjt/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#header .title{
    margin-top: -50px;
    font-weight: 800;
    font-size: 65px;
    color: white;
}

#header .subtitle{
    font-size: 30px;
    color: white;
}

.section{
    padding: 50px 100px 100px;
}

.section.footer{
    padding: 50px 100px;
}

.section.darkbg{
    background-color: #efeae1;
    color: #66595c;
}

.section .row{
    margin-bottom: 20px;
}

.section .title{
    font-weight: 100;
    margin-bottom: 50px;
    color: #4b494f;
}

.section .subtitle{
    font-weight: 300;
}

.blog-article{
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.blog-article pre{
    background-color: #f8f8ff;
    border: 1px solid #e5e5e5;
}

.blog-article img{
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
}

.blog-article h4{
    font-weight: bold;
    margin-top: 50px;
}

.blog-tags{
    margin-top: 20px;
}

.blog-tags a{
    text-transform: lowercase;
}

.blog-title{
    font-size: 35px;
    margin-bottom: 20px;
}

.blog-title,
.blog-title a{
    color: #4b494f;
}

.blog-content{
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 20px;
}

.fa{
    color: #f36557;
}

.blog-metadata li{
    margin-right: 20px;
}

.blog-metadata li.tag,
.blog-metadata li.category{
    margin-right: 0;
}

.blog-metadata .no-margin{
    margin: 0;
}

.blog-readmore,
.blog-readmore:hover{
    font-size: 14px;
    border: 2px solid #f36557;
    padding: 5px 15px !important;
    margin: 50px 5px auto;
    color: #f36557;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.blog-pagination {
    margin-bottom: 50px;
    text-align: center;
}

.blog-pagination li {
    border: 2px solid #f36557;
    padding: 5px 15px !important;
    margin: 50px 5px auto;
    color: #f36557;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.blog-pagination a{
    margin: auto 10px;
    font-size: 14px;
    color: #f36557;
}

.section .fa{
    font-size: 20px;
    margin: auto 10px;
}